<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name ="viewport" content ="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title>ARsearch</title>
	<link rel="stylesheet" href="../resources/css/swiper.min.css">
	<link rel="stylesheet" href="../resources/css/ARsearch.css">
	<script src="../resources/js/jquery-3.2.1.min.js"></script>
	<script src="../resources/js/swiper.min.js"></script>
</head>
<body>
	<header>
		<div>
			<a href="javascript:history.go(-1)" class="back"><img src="../resources/img/AR/back.png" alt=""></a>
			<p>AR找路</p>
			<p>AR Find Way</p>
			<a href="javascript:" class="search"><img src="../resources/img/AR/search.png" alt=""></a>
		</div>
	</header>
	<div class="zhanwei"></div>
	<div class="content">
		<!-- Swiper -->
	    <div class="swiper-container">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide">
	            	<a href="ARsearch2.html"><img src="../resources/img/AR/Apic.png" alt=""></a>
	            </div>
	            <div class="swiper-slide">
	             	<a href="javascript:"><img src="../resources/img/AR/Bpic.png" alt=""></a>
	            </div>
	            <div class="swiper-slide">
	            	<a href="javascript:"><img src="../resources/img/AR/Cpic.png" alt=""></a>
	            </div>
	            <div class="swiper-slide">
	            	<a href="javascript:"><img src="../resources/img/AR/Dpic.png" alt=""></a>
	            </div>
	        </div>
	    </div>
	    <div class="instr">
	    	<p>动画学院A楼</p>
	    	<span>A楼教学楼现有动画艺术学院，动漫学院办公教学，是我校最重要最主要的教学标志之一。A楼形似一条大船，楼最左侧有一个大船锚也是A楼标志之一。</span>
	    	<p>位置</p>
	    	<span>位于学校最左端</span><span>临近B楼</span>
	    </div>
	    <div class="locat">
	    	<img src="../resources/img/AR/map2.png" alt="">
	    </div>
	</div>
    <!-- Initialize Swiper -->
    <script type="text/javascript">
		var swiper = new Swiper('.swiper-container', {
			slidesPerView: 2,
			centeredSlides: true,
			paginationClickable: true,
			spaceBetween: 20
		});
    </script>
</body>
</html>