<!DOCTYPE html>
<html>
<head>
    <title>资讯</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link href="../resources/css/article.css" rel="stylesheet"/>
</head>
<body>
	<header class="like">
		<a href="javascript:history.go(-1)" class="pong"><img class="pic" src="../resources/img/back@2x.png"/></a>
		<h1 class="list">校园攻略</h1>
		<h2 class="list1">Campus Raiders</h2>
    </header>
    <div class="zhanwei"></div>
    <div class="show">
        <h1>"人看花，花看人"</h1>
        <h2>李佛君设计巡回展吉林动画学院站开幕</h2>
    </div>
    <div class="show_one">
        <div class="time">2017-05-02</div>
        <div class="name">
            <span>设计学院</span>
            <span>李明</span>
        </div>
        <div class="liulan">
            <img class="imgimg" src="../resources/img/collect@2x.png"/>
            <span >浏览:</span>
            <span>41次</span>
        </div>
    </div>
    <div class="tu">
        <img class="pic_pic" src="../resources/img/1pic-01-png@2x.png"/>
        <p>李佛君设计巡回展吉林动画学院站开幕式现场</p>
    </div>
    <div class="details">
        <p>4月27日，李佛君《人看花，花看人》设计作品巡回展在吉林动画学院设计学院B楼三楼展厅正式开幕。本次展览共计展出60件设计作品，涵盖品牌、字体、海报、文创等，展览时间为4月27日至5月5日。</p>
        <p class="dier">学校副校长王春利，设计学院院长徐欣、院长助理闫欣、李明及设计学院师生参加了此次展览开幕式及讲座。</p>
    </div>
</body>
</html>