<!DOCTYPE html>
<html>
<head>
	<title>图书查询</title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximun-scale=1.0,user-scalable=0">
	<link rel="stylesheet" type="text/css" href="../resources/css/book_transform.css">
	<!-- <link rel="stylesheet" href="../resources/css/bootstrap.min.css" /> -->
    <script type="text/javascript" src="../resources/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../resources/js/book_transform.js"></script>
</head>
<body>
	<header>
		<div class="head">
			<a href="javascript:history.go(-1)"><img class="arrow" src="../resources/img/back@2x.png"></a>
			<h1>图书查询</h1>
			<h2>Book query</h2>
		</div>
	</header>
	<!-- <div class="zhanwei"></div> -->
	<div class="down">
		<div class="input">
			<input type="text" name="" class="text">
			<input type="image" src="../resources/img/search@2x.png" name="" class="imginput">
		</div>
		<div class="zishiy">
			<div class="display">
				<a href="javascript:;" id="no">钢铁是怎样炼成的</a>
				<img src="../resources/img/close@2x.png" id="yes" onclick="black();">
			</div>
		</div>
		<div class="search">
			<div class="box">
				<div class="left">
					<h1>检索条件</h1>
					<h2>Search Condition</h2>
				</div>
				<div class="right">
					<input type="image" src="../resources/img/list-png@2x.png" name="" class="ti" id="imginput">
					<p id="book">书名</p>
				</div>
			</div>
			<div class="box">
				<div class="left">
					<h1>检索模式</h1>
					<h2>Search Mode</h2>
				</div>
				<div class="right">
					<!-- <input type="image" src="../resources/img/list-png@2x.png" name="" class="ti" id="imginput1"> -->
					<p class="book">自动</p>
				</div>
			</div>
		</div>
		<div id="search1">
            <ul id="apple">
                <li><a href="#" class="a1">图书类别</a></li>
                <li><a href="#" class="active">书名</a></li>
                <li><a href="#" class="a1">作者</a></li>
                <li><a href="#" class="a1">关键字</a></li>
                <li><a href="#" class="a1">图书编号</a></li>
            </ul>
        </div>
	</div>
	<div class="write">
		<div class="case" style="margin-top: 70px;">
			<div class="left_case">
				<img src="../resources/img/pic-01-png@2x.png">
			</div>
			<div class="right_case">
				<h1>书名: 钢铁是怎样炼成的</h1>
				<p class="y2">作者:尼古拉·奥斯特洛夫斯基</p>
                <p>出版时间: 1933</p>
                <p>图书编号:134897149</p>
                <p>出版社:中信出版社</p>
                <p>存放位置:文学馆 B1-3</p>
                <div class="numb">
                	<span>20</span>剩
                </div>
			</div>
		</div>
		<div class="case">
			<div class="left_case">
				<img src="../resources/img/pic-01-png@2x.png">
			</div>
			<div class="right_case">
				<h1>书名: 钢铁是怎样炼成的</h1>
				<p class="y2">作者:尼古拉·奥斯特洛夫斯基</p>
                <p>出版时间: 1933</p>
                <p>图书编号:134897149</p>
                <p>出版社:中信出版社</p>
                <p>存放位置:文学馆 B1-3</p>
                <div class="numb">
                	<span>20</span>剩
                </div>
			</div>
		</div>
		<div class="case">
			<div class="left_case">
				<img src="../resources/img/pic-01-png@2x.png">
			</div>
			<div class="right_case">
				<h1>书名: 钢铁是怎样炼成的</h1>
				<p class="y2">作者:尼古拉·奥斯特洛夫斯基</p>
                <p>出版时间: 1933</p>
                <p>图书编号:134897149</p>
                <p>出版社:中信出版社</p>
                <p>存放位置:文学馆 B1-3</p>
                <div class="numb">
                	<span>20</span>剩
                </div>
			</div>
		</div>
		<div class="case">
			<div class="left_case">
				<img src="../resources/img/pic-01-png@2x.png">
			</div>
			<div class="right_case">
				<h1>书名: 钢铁是怎样炼成的</h1>
				<p class="y2">作者:尼古拉·奥斯特洛夫斯基</p>
                <p>出版时间: 1933</p>
                <p>图书编号:134897149</p>
                <p>出版社:中信出版社</p>
                <p>存放位置:文学馆 B1-3</p>
                <div class="numb">
                	<span>20</span>剩
                </div>
			</div>
		</div>
	</div>
</body>
</html>