<!DOCTYPE html>
<html>
<head>
    <title>查询缴费</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link href="../resources/css/chaxunxiangqing.css" rel="stylesheet"/>
</head>
<body>
    <header class="like">
        <a href="javascript:history.go(-1)" class="pong"><img class="pic" src="../resources/img/back@2x.png"/></a>
        <h1 class="list">查询缴费</h1>
        <h2 class="list1">Query payment</h2>
    </header>
    <div class="zhanwei"></div>
    <div class="hao">
    	<div class="hao1">支付成功详情</div>
        <div class="hao2">
            <span>支付时间：</span>2017.03.15</br>
            <span>支付人：</span>杨丹莹</br>
            <span>学号：</span>11418036</br>
            <span>报考类型：</span>英语</br>
            <span>报考名称：全国</span>英语考试四级</br>
            <span>支付金额：</span>50.0元</br>
            <span>支付方式：</span>邮政银行卡</br>
            <span>银行卡号：</span>6228009xxxxxxxx296</br>
        </div>
        <div class="wc">
            <a href="javascript:history.go(-1)"><input class="wancheng" type="submit" value="完成" name="pay"/></a>
        </div>
    </div>
</body>
</html>