<!DOCTYPE html>
<html>
<head>
	<title>我的收藏</title>    
	<meta charset="utf-8" >
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../resources/css/collect_transform.css">
    <script src="../resources/js/jquery-3.2.1.min.js"></script>
</head>
<body>
	<header>
		<div class="head">
			<a href="myself_transform.html"><img class="arrow" src="../resources/img/back@2x.png"></a>
			<h1>我的收藏</h1>
			<h2>Collection</h2>
			<!-- <a href="javascript:;" ><img class="garbage_can" src="../resources/img/lajixiang.png@2x.png"></a> -->
		</div>
	</header>
	<div class="first">
		<div class="line">
			<img src="../resources/img/touxiang.png@2x1.png">
			<p class="p1">11404169</p>
			<p class="p2">昨天</p>
		</div>
		<div class="line2">
			<img src="../resources/img/image1.png@2x.png" class="img">
			<img src="../resources/img/image2.png@2x.png" class="img pad">
		</div>
	</div>
	<div class="second">
		<div class="line">
			<img src="../resources/img/touxiang.png@2x1.png">
			<p class="p1">11404169</p>
			<p class="p2">3天前</p>
		</div>
		<div class="line2">
			<p>每个人心中都有一条塞纳河，它把我们的一颗心分作两边，左岸
		       柔软，右岸冷硬；左岸感性，右岸理性；左岸住着我们的欲望期盼挣扎和所有的爱恨嗔怒，右岸住着这个世界的规则...</p>
		</div>
	</div>
	<div class="third">
		<div class="line">
			<img src="../resources/img/touxiang.png@2x1.png">
			<p class="p1">11404169</p>
			<p class="p2">昨天</p>
		</div>
		<div class="line2">
			<p>天上西藏<br/>……</p>
		</div>
	</div>
</body>
</html>