<!DOCTYPE html>
<html>
<head>
    <title>简历制作</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link href="../resources/css/jianlizhizuo.css" rel="stylesheet"/>
</head>
	<body>
        <header class="like">
            <a href="home.html" class="pong"><img class="pic" src="../resources/img/back@2x.png"/></a>
            <a href="print_one.html" class="peng"><img class="pic1" src="../resources/img/self-serive@2x.png"/></a>
            <h1 class="list">简历制作</h1>
            <h2 class="list1">Resume Production</h2>
        </header>
        <div class="zhanwei"></div>
        <div class="row_one">完成度55%</div>
        <div class="row_two">
            <div class="basic">基本信息</div>
            <a class="lianjie" href="#"><img class="pic2" src="../resources/img/edit@2x.png"/></a>
        </div>
        <div class="row_three">
            <img class="pic3" src="../resources/img/image-01@2x.png"/>
            <div class="row_1">
                <span >杨丹莹</span>
                <div>
                    <span>女</span>
                    <span>吉林长春</span>
                </div>
            </div>
        </div>
        <div class="row_four">
            <div class="ss">
                <p >手机号:</p>
                <p >邮箱:</p>
            </div>
            <div class="ss1">
                <p>18744063223</p>
                <p>806212588@qq.com</p>
            </div>
        </div>
        <div class="row_five">
            <div class="qiu">求职意向</div>
            <a  class="lianjie1" href="#"><img class="pic4" src="../resources/img/edit@2x.png"/></a>
        </div>
        <div class="row_six">
            <div class="li">
                <p class="rr">渴望行业:</p>
                <p class="rr">职位/职能:</p>
                <p class="rr">渴望地点:</p>
            </div>
            <div class="lo">
                <p class="r">互联网/移动互联网/电子商务</p>
                <p class="r">Web前端工程师</p>
                <p class="r">成都市</p>
            </div>
        </div>
        <div class="row_seven">
            <div class="education">教育背景</div>
            <a class="lianjie2" href="#"><img class="pic5" src="../resources/img/add@2x.png"/></a>
        </div>
        <div class="row_eight">
            <img class="pic6" src="../resources/img/image-02@2x.png"/>
            <div class="school">
                <p class="jilin">吉林动画学院·本科</p>
                <p class="data">2014-09至2018-06</p>
                <p class="shijue">数字媒体技术</p>
            </div>
        </div>
        <hr>
        <div class="row_nine">
            <div class="jingli">在校经历</div>
            <a class="lianjie3" href="#"><img class="pic7" src="../resources/img/add@2x.png"/></a>
        </div>
        <div class="row_ten">
            <div class="shetuan"><p>社团经历</p></div>
        </div> 
    </body>
</html>