<!DOCTYPE html>
<html>
<head>
	<title>我的消息</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../resources/css/new_transform.css">
    <script src="../resources/js/jquery-3.2.1.min.js"></script>
</head>
<body>
	<header>
		<div class="head">
			<a href="myself_transform.html"><img class="arrow" src="../resources/img/back@2x.png"></a>
			<h1>我的消息</h1>
			<h2>News</h2>
			<!-- <a href="javascript:;" ><img class="garbage_can" src="../resources/img/lajixiang.png@2x.png"></a> -->
		</div>
	</header>
	<div class="zhanwei"></div>
	<div class="box">
		<a class="line" href="javascript:;">
			<img src="../resources/img/touxiang1.png@2x.png">
			<div class="word">
				<h1>11404162</h1>
				<p>用ps还是CMYK</p>
			</div>
			<h2>8:10AM</h2>
		</a>
		<hr>
		<a class="line" href="javascript:;">
			<img src="../resources/img/touxiang2.png@2x.png">
			<div class="word">
				<h1>11404053</h1>
				<p>在吗，能请教你些问题吗？</p>
			</div>
			<h2>9:10AM</h2>
		</a>
	</div>
	<div class="box">
		<div class="block">
			<h3>英语四级考试开始报名啦！！</h3>
			<a href="javascript:;" class="span">MORE></a>
			<div class="bot">
				<p>发布时间</p>
				<p>2016-09-01</p>
			</div>
		</div>
	</div>
	<div class="box">
		<a class="line2" href="javascript:;">
			<div class="time">
				<p>02/15</p><p>上午8:00</p>
			</div>
			<div class="line3">
				<p>距离英语四级考试还剩</p>
				<p class="one">120天</p>
			</div>
		</a>
		<hr>
		<a class="line2" href="javascript:;">
			<div class="time">
				<p>04/18</p><p>下午15:50</p>
			</div>
			<div class="line3">
				<p>距离开学还剩</p>
				<p class="one">20天</p>
			</div>
		</a>
		<hr>
		<a class="line2" href="javascript:;">
			<div class="time">
				<p>07/01</p><p>下午15:50</p>
			</div>
			<div class="line3">
				<p>距离暑假还剩</p>
				<p class="one">7天</p>
			</div>
		</a>
		<hr>
		<a class="line2" href="javascript:;">
			<div class="time">
				<p>04/18</p><p>下午15:50</p>
			</div>
			<div class="line3">
				<p>距离开学还剩</p>
				<p class="one">20小时</p>
			</div>
		</a>
		<hr>
	</div>
</body>
</html>