<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>首页</title>
	<!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="../resources/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/school.css" >
</head>
<body>
    <header>
        <div class="head">
            <a href="javascript:history.go(-1)"><img class="arrow" src="../resources/img/back@2x.png"></a>
            <h1>校园攻略</h1>
            <h2>Campus Raiders</h2>
            <a href="javascript:;"><img class="arrow2" src="../resources/img/search@2x.png"></a>
        </div>
    </header>
    <div class="zhanwei"></div>
	<div class="lunbo">
		<!-- Swiper -->
	    <div class="swiper-container swiper-container-horizontal">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide swiper-slide-active" style="width:100%;"><img src="../resources/img/image4.png.png"/></div>
	            <div class="swiper-slide swiper-slide-next" style="width:100%;"><img src="../resources/img/image3.png@2x.png"/></div>
	            <div class="swiper-slide" style="width:100%;"><img src="../resources/img/image2.png.png"/></div>
	        </div>
	        <!-- Add Pagination -->
	        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
        </div>
    </div>
    <div class="nav">
        <ul>
            <li><a href="ARsearch.html">
                    <div class="img1"></div>
                    <p>AR找路</p>
                </a>
            </li>
            <li><a href="xuefei.html" class="sp">
                <div class="img2"></div>
                    <p>查询消费</p>
                </a>
            </li>
            <li><a href="book_transform.html">
                <div class="img3"></div>
                    <p>图书查询</p>
                </a>
            </li>
            <li><a href="scor_inquiry.html">
                <div class="img4"></div>
                    <p>成绩查询</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="box">
        <h1>英语四级考试开始报名啦!!</h1>
        <a href="javascript:;">MORE ></a>
        <div><p class="left1"><span>发布时间</span>2016-09-01</p><p class="right1"><span>浏览人数</span>152</p></div>
    </div>
    <div id="div1">
        <div class="active">新生攻略</div>
        <div>最新资讯</div>
        <div>校园风采</div> 
        <div>校园概况</div>
    </div>
    <div id="div2">
        <div class="div2" style="display:block;">
        <a href="javascript:;" class="a1">
            <img src="../resources/img/image.001png.png">
            <article class="float1">
                <p>金秋送爽荷花满堂的九月，吉林动画学院迎来了来自全国各地的3027名2012级新同学.....</p>
                <p class="left2"><span>发布时间</span>2016-09-01</p><p class="right2"><span>浏览人数</span>152</p>
            </article>
        </a>
        <a href="javascript:;" class="a1">
            <img src="../resources/img/image003.png.png">
            <article class="float1">
                <p>我院举行第六届运动会暨新生军训表彰大会</p>
                <p class="left2"><span>发布时间</span>2016-09-01</p><p class="right2"><span>浏览人数</span>152</p>
            </article>
        </a>
        <a href="javascript:;" class="a1">
            <img src="../resources/img/image004.png.png">
            <article class="float1">
                <p>不负青春，全面锻炼，做新时代有为青年。吉动新生入学第一课开讲啦！</p>
                <p class="left2"><span>发布时间</span>2016-09-01</p><p class="right2"><span>浏览人数</span>152</p>
            </article>
        </a>
        <a href="javascript:;" class="a1">
            <img src="../resources/img/image005.png.png">
            <article class="float1">
                <p>阿诺特·拉巴罗尼：互动虚拟现实-新生代的语言</p>
                <p class="left2"><span>发布时间</span>2016-09-01</p><p class="right2"><span>浏览人数</span>152</p>
            </article>
        </a>
    </div>
    <div class="div2">
        <a href="article.html" class="a1">
            <img src="../resources/img/1pic-01-png@2x.png">
            <article class="float1">
                <p>李佛君设计巡回展吉林动画学院站开幕。4月27日，李佛君《人看花，花看人》设计......</p>
                <p class="left2"><span>发布时间</span>2016-09-01</p><p class="right2"><span>浏览人数</span>41</p>
            </article>
        </a>
        <a href="javascript:;" class="a1">
            <img src="../resources/img/1493201521108741@2x.png">
            <article class="float1">
                <p>4月26日，省委常委、宣传部部长王晓萍一行莅临吉林动画学院考察调研。学校董事......</p>
                <p class="left2"><span>发布时间</span>2016-09-01</p><p class="right2"><span>浏览人数</span>152</p>
            </article>
        </a>
        <a href="javascript:;" class="a1">
            <img src="../resources/img/pic-03-png@2x.png">
            <article class="float1">
                <p>访中国文化大学——艺术教育与文化传承的共鸣</p>
                <p class="left2"><span>发布时间</span>2016-09-01</p><p class="right2"><span>浏览人数</span>152</p>
            </article>
        </a>
        <a href="javascript:;" class="a1">
            <img src="../resources/img/image-4.png.png">
            <article class="float1">
                <p>金秋送爽荷花满堂的九月，吉林动画学院迎来了来自全国各地的3027名2012级新同学.....</p>
                <p class="left2"><span>发布时间</span>2016-09-01</p><p class="right2"><span>浏览人数</span>152</p>
            </article>
        </a>
    </div>
    <div class="div2">
        <article class="all">
            <article class="second">
                <article class="pageone one">
                    <a href="javascript:;" class="a2"><img src="../resources/img/image2.png.png"></a>
                    <article class="line">
                        <span>
                            <img src="../resources/img/chakan.png@2x.png">
                            <p>1090</p>
                        </span>
                        <span>
                            <img src="../resources/img/aixin.png">
                            <p>691</p>
                        </span>
                        <span>
                            <img src="../resources/img/liuyan.png@2x.png">
                            <p>2</p>
                        </span>
                    </article>
                    <article class="details">
                        <a href="javascript:;"><img src="../resources/img/touxiang2.png@2x.png"></a>
                        <article class="let">
                            <p>11404178</p>
                            <i>醉里看花花莫笑，可…</i>
                        </article>
                    </article>
                </article>
            </article>
            <article class="second">
                <article class="pageone two">
                    <a href="javascript:;" class="a2"><img src="../resources/img/image4.png.png"></a>
                    <article class="line">
                        <span>
                            <img src="../resources/img/chakan.png@2x.png">
                            <p>1090</p>
                        </span>
                        <span>
                            <img src="../resources/img/aixin.png">
                            <p>691</p>
                        </span>
                        <span>
                            <img src="../resources/img/liuyan.png@2x.png">
                            <p>2</p>
                        </span>
                    </article>
                    <article class="details">
                        <a href="javascript:;"><img src="../resources/img/touxiang1.png@2x.png"></a>
                        <article class="let">
                            <p>11404178</p>
                            <i>淡淡的小植物</i>
                        </article>
                    </article>
                </article>
            </article>
            <article class="second">
                <article class="pageone one">
                    <a href="javascript:;" class="a2"><img src="../resources/img/image6.png.png"></a>
                    <article class="line">
                        <span>
                          <img src="../resources/img/chakan.png@2x.png">
                          <p>1090</p>
                        </span>
                        <span>
                          <img src="../resources/img/aixin.png">
                          <p>691</p>
                        </span>
                        <span>
                          <img src="../resources/img/liuyan.png@2x.png">
                          <p>2</p>
                        </span>
                    </article>
                    <article class="details">
                        <a href="javascript:;"><img src="../resources/img/touxiang2.png@2x.png"></a>
                        <article class="let">
                          <p>11404178</p>
                          <i>醉里看花花莫笑，可…</i>
                        </article>
                    </article>
                </article>
            </article>
            <article class="second">
                <article class="pageone two">
                    <a href="javascript:;" class="a2"><img src="../resources/img/image5.png@2x.png"></a>
                    <article class="line">
                        <span>
                            <img src="../resources/img/chakan.png@2x.png">
                            <p>1090</p>
                        </span>
                        <span>
                            <img src="../resources/img/aixin.png">
                            <p>691</p>
                        </span>
                        <span>
                            <img src="../resources/img/liuyan.png@2x.png">
                            <p>2</p>
                        </span>
                    </article>
                    <article class="details">
                        <a href="javascript:;"><img src="../resources/img/touxiang1.png@2x.png"></a>
                        <article class="let">
                            <p>11404178</p>
                            <i>淡淡的小植物</i>
                        </article>
                    </article>
                </article>
            </article>
            <article class="second">
                <article class="pageone one">
                    <a href="javascript:;" class="a2"><img src="../resources/img/image1.png.png"></a>
                    <article class="line">
                        <span>
                            <img src="../resources/img/chakan.png@2x.png">
                            <p>1090</p>
                        </span>
                        <span>
                            <img src="../resources/img/aixin.png">
                            <p>691</p>
                        </span>
                        <span>
                            <img src="../resources/img/liuyan.png@2x.png">
                            <p>2</p>
                        </span>
                    </article>
                    <article class="details">
                        <a href="javascript:;"><img src="../resources/img/touxiang2.png@2x.png"></a>
                        <article class="let">
                            <p>11404178</p>
                            <i>醉里看花花莫笑，可…</i>
                        </article>
                    </article>
                </article>
            </article>
            <article class="second">
                <article class="pageone two">
                    <a href="javascript:;" class="a2"><img src="../resources/img/image3.png.png"></a>
                    <article class="line">
                        <span>
                            <img src="../resources/img/chakan.png@2x.png">
                            <p>1090</p>
                        </span>
                        <span>
                            <img src="../resources/img/aixin.png">
                            <p>691</p>
                        </span>
                        <span>
                            <img src="../resources/img/liuyan.png@2x.png">
                            <p>2</p>
                        </span>
                    </article>
                    <article class="details">
                        <a href="javascript:;"><img src="../resources/img/touxiang1.png@2x.png"></a>
                        <article class="let">
                          <p>11404178</p>
                          <i>淡淡的小植物</i>
                        </article>
                    </article>
                </article>
            </article>
        </article>
    </div>
    <div class="div2">
        <a href="javascript:;" class="a1">
            <img src="../resources/img/image6.png.png">
            <article class="float1">
                <p>金秋送爽荷花满堂的九月，吉林动画学院迎来了来自全国各地的3027名2012级新同学.....</p>
                <p class="left2"><span>发布时间</span>2016-09-01</p><p class="right2"><span>浏览人数</span>152</p>
            </article>
        </a>
        <a href="javascript:;" class="a1">
            <img src="../resources/img/image01.png.png">
            <article class="float1">
                <p>金秋送爽荷花满堂的九月，吉林动画学院迎来了来自全国各地的3027名2012级新同学.....</p>
                <p class="left2"><span>发布时间</span>2016-09-01</p><p class="right2"><span>浏览人数</span>152</p>
            </article>
        </a>
        <a href="javascript:;" class="a1">
            <img src="../resources/img/image04.png@2x.png">
            <article class="float1">
                <p>金秋送爽荷花满堂的九月，吉林动画学院迎来了来自全国各地的3027名2012级新同学.....</p>
                <p class="left2"><span>发布时间</span>2016-09-01</p><p class="right2"><span>浏览人数</span>152</p>
            </article>
        </a>
        <a href="javascript:;" class="a1">
            <img src="../resources/img/image03.png@2x.png">
            <article class="float1">
                <p>金秋送爽荷花满堂的九月，吉林动画学院迎来了来自全国各地的3027名2012级新同学.....</p>
                <p class="left2"><span>发布时间</span>2016-09-01</p><p class="right2"><span>浏览人数</span>152</p>
            </article>
        </a>
        </div>
    </div>
</body>
<script src="../resources/js/jquery-1.12.3.min.js"></script>
<script src="../resources/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../resources/js/jquery.min.js"></script>
    <!-- Swiper JS -->
<script src="../resources/js/swiper-3.4.2.min.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplayDisableOnInteraction : false,
        autoplay: 1000, //可选选项，自动滑动
        loop:true
    });
</script>

<script type="text/javascript">
    window.onload=function(){
        var odiv=document.getElementById('div1');//获取div
        var odiv2=document.getElementById('div2');
        var btn=odiv.getElementsByTagName('div');//获取div下的input
        var div2=odiv2.getElementsByTagName('div') ;//获取div下的div
        for(var i=0;i<btn.length;i++){//循环每个按钮
            btn[i].index=i;
            //btn[i]是指定button的第i个按钮;为该按钮添加一个index属性，并将index的值设置为i
            btn[i].onclick=function(){//按钮的第i个点击事件
                for(i=0;i<btn.length;i++){ //循环去掉button的样式，把div隐藏
                    btn[i].className='' ;//清空按钮的样式
                    div2[i].style.display='none'; //隐藏div
                }
                this.className='active'; //自身添加active
                div2[this.index].style.display='block';//this.index是当前div
            };
        };
    };
 </script>  
</html>