<!DOCTYPE html>
<html>
<head>
	<title>成绩查询</title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximun-scale=1.0,user-scalable=0">
	<link rel="stylesheet" type="text/css" href="../resources/css/scor_inquiry.css">
	<!-- <link rel="stylesheet" href="../resources/css/bootstrap.min.css" /> -->
    <script src="../resources/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../resources/js/scor_inquiry.js"></script>
</head>
<body>
	<div class="fix">
		<header>
			<div class="head"><!-- 页头 -->
				<a href="javascript:history.go(-1)"><img src="../resources/img/back@3x.png"></a>
				<h1>成绩查询</h1>
				<h2>Score query</h2>
				<a href="scorequery.html" class="b"><img src="../resources/img/self@2x.png"></a>
			</div>
		</header>
		<div class="head2"><!-- 学年学期部分 -->
			<div class="line">
				<div class="left year">
					<p>学年</p>
					<span>
						<p id="text">2016-2017学年</p>
						<p><a href="#" id="a2"><img src="../resources/img/list@3x.png"></a></p>
					</span>
				</div>
				<div id="div2">
					<ul>
						<li><a href="javascript:;" class="a1">2017-2018学年</a></li>
						<li><a href="javascript:;" class="a1">2016-2017学年</a></li>
						<li><a href="javascript:;" class="a1">2015-2016学年</a></li>
						<li><a href="javascript:;" class="a1">2014-2015学年</a></li>
						<li><a href="javascript:;" class="a1">2013-2014学年</a></li>
					</ul>
				</div>
				<div class="right year">
					<p>学期</p>
					<span>
						<p  id="text1">第一学期</p>
						<p><a href="#" id="a3"><img src="../resources/img/list@3x.png"></a></p>
					</span>
				</div>
				<div id="div3">
					<ul>
						<li><a href="javascript:;" class="a1">第一学期</a></li>
						<li><a href="javascript:;" class="a1">第二学期</a></li>
					</ul>
				</div>
			</div>
			<div class="line2">
				<ul>
					<li style="width: 62px"><div></div>入学以来</li>
					<li style="margin-left: -6px;"><div></div>学年</li>
					<li style="margin-left: -24px;"><div class="active1"></div>学期</li>
				</ul>
			</div>
			<div class="line3">
				<div class="left2">
					<div class="circle">
						<h1>3.13</h1>
						<h2>学分</h2>
					</div>
					<h3>平均绩点</h3>
				</div>
				<div class="right2">
					<p>院系（部）：虚拟现实学院</p>
					<p>行政班级：14级xxxx工作室</p>
					<p>学号：11418036</p>
					<p>姓名：杨丹莹</p>
					<p>学年学期：2016—2017学年第一学期</p>
				</div>
			</div>
		</div>
	</div>
	<div class="zhanwei"></div>
	<div class="content">
		<div class="box">
			<h1>APP程序开发</h1>
			<p>学分：4.0</p>
			<p style="margin-left: -30px;">类别：专业课/必修课</p>
			<p style="margin-left: 6px;">考核方式：考核</p>
			<p>修读性质：初修</p>
			<table>
				<tr>
					<td>成绩：优秀</td>
					<td>取得成绩：5.0</td>
				</tr>
				<tr>
					<td>绩点：4.0</td>
					<td>学分绩点：20.0</td>
				</tr>
			</table>
			<h2><a href="javascript:;">备注</a></h2>
		</div>
		<div class="box">
			<h1>PS基础</h1>
			<p>学分：4.0</p>
			<p style="margin-left: -30px;">类别：专业课/必修课</p>
			<p style="margin-left: 6px;">考核方式：考核</p>
			<p>修读性质：初修</p>
			<table>
				<tr>
					<td>成绩：优秀</td>
					<td>取得成绩：5.0</td>
				</tr>
				<tr>
					<td>绩点：4.0</td>
					<td>学分绩点：20.0</td>
				</tr>
			</table>
			<h2><a href="javascript:;">备注</a></h2>
		</div>
		<div class="box">
			<h1>MongoDB入门</h1>
			<p>学分：4.0</p>
			<p style="margin-left: -30px;">类别：专业课/必修课</p>
			<p style="margin-left: 6px;">考核方式：考核</p>
			<p>修读性质：初修</p>
			<table>
				<tr>
					<td>成绩：优秀</td>
					<td>取得成绩：5.0</td>
				</tr>
				<tr>
					<td>绩点：4.0</td>
					<td>学分绩点：20.0</td>
				</tr>
			</table>
			<h2><a href="javascript:;">备注</a></h2>
		</div>
		<div class="box">
			<h1>大学英语3</h1>
			<p>学分：4.0</p>
			<p style="margin-left: -30px;">类别：专业课/必修课</p>
			<p style="margin-left: 6px;">考核方式：考核</p>
			<p>修读性质：初修</p>
			<table>
				<tr>
					<td>成绩：优秀</td>
					<td>取得成绩：5.0</td>
				</tr>
				<tr>
					<td>绩点：4.0</td>
					<td>学分绩点：20.0</td>
				</tr>
			</table>
			<h2><a href="javascript:;">备注</a></h2>
		</div>
	</div>
</body>
</html>