<!DOCTYPE html>
<html>
<head>
    <title>查询缴费</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link href="../resources/css/zhifuchenggong.css" rel="stylesheet"/>
</head>
	<body>
		<header class="like">
			<a href="javascript:history.go(-1)" class="pong"><img class="pic" src="../resources/img/back@2x.png"/></a>
			<h1 class="list">查询缴费</h1>
			<h2 class="list1">Query payment</h2>
        </header>
        <div class="zhanwei"></div>
        <div class="like1">
            <div class="dh"><img class="duihao" src="../resources/img/icon-png@2x.png"></div>
            <div class="look">支付成功</div>
            <a class="look2" href="chaxunxiangqing.html"><div class="look1">查看支付详情</div></a>
        </div>
    </body>
</html>